@model List<feedFBRS.Models.News>

@{
    ViewBag.Title = "Feed de Notícias";
}

<style>
    .imagempost {
        width: 600px;
        z-index: 2;
        position: relative;
        left: -20px;
        top: 10px;
    }

    .fontefeed {
        font-family: 'Poppins', 'Avenir', 'Montserrat', sans-serif;
    }

    .feed-container {
        max-width: 600px;
        margin: 20px auto;
        background: white;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .user-profile {
        display: flex;
        align-items: center;
        padding: 3%;
        margin-left: 1%;
    }

    .user-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #007bff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin-right: 10px;
    }

        .user-avatar.publicacao {
            width: 35px;
            height: 35px;
        }

    .user-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
    }

        .user-info.alinhartexto {
            position: relative;
            top: 18px;
            right: -5px;
        }

        .user-info.alinhartexto-publicacao {
            position: relative;
            top: 2px;
            right: -5px;
        }

    .post-section {
        margin-top: 20px;
    }

    .btn-arredondado {
        display: flex;
        gap: 8px;
        align-items: center;
        border-radius: 50px;
        margin-top: 10px;
        padding: 0px 0px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    }

    .bolinhaTitulo {
        width: 16px;
        /* Tamanho da bolinha */
        height: 16px;
        background-color: white;
        /* Cor de fundo */
        border-radius: 50%;
        /* Faz a bolinha ficar redonda */
        display: flex;
        align-items: center;
        /* Centraliza verticalmente */
        justify-content: center;
        /* Centraliza horizontalmente */
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        /* Pequena sombra para destacar */
        position: relative;
        right: -3px;
    }

        .bolinhaTitulo span {
            font-size: 15px;
            font-weight: bold;
            color: #2fd7aa;
            line-height: 1;
            margin-top: 2px;
        }

    .alinhartexto {
        text-align: justify-all;
    }

    .linha {
        width: 81%;
        /* Define o tamanho da linha */
        height: 2px;
        /* Espessura da linha */
        background-color: #B3B3B3;
        /* Cor da linha */
        margin: 0 auto 10px auto;
        /* Centraliza e define o espaço abaixo */
        text-align: center;
    }

    .agradecimento {
        text-align: center;
        font-size: 18px;
        /* Ajuste conforme necessário */
        color: #b0b0b0;
        /* Cor identificada */
        font-weight: bold;
        /* Caso seja necessário */
    }

    .tamanhonomeusuario {
        font-size: 14px;
    }

    .horario {
        position: relative;
        top: 3px;
        right: -33px;
        font-size: 11px;
        color: #a1a1a1;
    }

    .icon-container {
        background-color: #cccccc;
        /* Fundo cinza */
        border-radius: 50%;
        /* Deixa a div redonda */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
    }

    .heart-icon {
        fill: #8371DF;
        /* Cor do coração */
        transition: fill 0.2s ease-in-out;
    }

    .heart-btn:hover .heart-icon {
        fill: rgb(221, 69, 69);
        /* Cor muda ao passar o mouse */
    }

    .tirarlinha {
        outline: none;
        border: none;
        background-color: unset;
    }

    .tirarcor {
        background-color: unset;
    }

    .mudarcor {
        background-color: rgb(104, 97, 97);
    }

    .icon {
        fill: red;
        /* Muda a cor do SVG */
    }

    .positioncoment {
        position: fixed;
    }

    .comentario-box {
        width: 100%;
        max-width: 400px;
        height: 27px;
        background-color: #ccc;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 2px 15px;
    }

    .comentario-input {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        outline: none;
        font-size: 14px;
        color: #666;
        font-family: Arial, sans-serif;
        resize: none;
        overflow: hidden;
        max-width: 100%;
        line-height: 1.6;
    }

    .alintextcoment {
        color: #68676e;
        position: relative;
        left: 12px;
    }

    .positioncomentfeed {
        position: relative;
        left: 131px;
        top: -3px;
        font-size: 14px;
        color: #938989;
    }

    .postiondivi {
        margin-top: 20px;
    }

    .modal-content {
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        border-bottom: none;
        display: flex;
        align-items: center;
        height: 0px
    }

        .modal-header h5 {
            margin-left: -215px;
        }

        .modal-header .close {
            background: none;
            border: none;
            font-size: 41px;
            color: #007bff;
            position: relative;
            top: -13px;
            left: 32px;
        }

    .textarea-container {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 30px;
        min-height: 100px;
    }

    .add-photo {
        display: flex;
        align-items: center;
        background-color: #8b5cf6;
        color: white;
        border-radius: 20px;
        padding: 1px 11px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    }

        .add-photo svg {
            margin-right: 5px;
        }

    .btn-footer {
        background: gray;
        color: white;
        border-radius: 20px;
        padding: 0px 20px;
        border: none;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    }

    .image-container {
        position: relative;
        width: 100%;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #ccc;
    }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .remove-image {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        border: none;
        cursor: pointer;
    }

    .image-container:hover .remove-image {
        display: flex;
    }

    .carousel-inner {
        max-height: 400px; /* Defina a altura fixa desejada */
        overflow: hidden; /* Garante que imagens grandes não expandam o carrossel */
    }

        .carousel-inner img {
            width: 100%;
            height: 400px; /* Mantém todas as imagens com a mesma altura */
            object-fit: cover; /* Ajusta as imagens sem distorção */
        }

    .comentarios-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
</style>

<body class="fontefeed" style="background-color: #f5f5f5;">
    <div class="feed-container">
        <!-- Perfil do Usuário -->
        <div class="user-profile">
            <div class="user-avatar"></div>
            <div class="user-info alinhartexto">
                <h5 class="m-0">Nome Usuário</h5>
                <button type="button" class="btn btn-primary btn-sm btn-arredondado alinhartexto"
                        style="background-color:#8b5cf6; border-color: #8b5cf6 " data-bs-toggle="modal"
                        data-bs-target="#novaPublicacaoModal">
                    <div class="bolinhaTitulo">
                        <span>+</span>
                    </div>
                    <div>
                        Criar publicação
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="novaPublicacaoModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span style="color: #01cf7d; font-size: 44px;">&#x2022;</span>
                                <h5 class="modal-title">Nova Publicação</h5>
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                            </div>
                            <form id="newsForm" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div style="display: flex; justify-content: center;">
                                        <textarea style="max-width: 700px;" class="textarea-container" id="content" name="content"
                                                  placeholder="Digite aqui o que você quer que apareça no feed..."></textarea>
                                    </div>
                                    <div class="mt-3 d-flex align-items-center">
                                        <label class="add-photo">
                                            <div class="bolinhaTitulo" style="position: relative; left: -6px;">
                                                <span>+</span>
                                            </div>
                                            <input type="file" id="inputFile" name="image" accept="image/*" multiple hidden>
                                            <div>
                                                Adicionar foto
                                            </div>
                                        </label>
                                        <span id="contadorFotos" class="ms-2 text-muted" style="font-size: 14px;">0/6</span>
                                    </div>
                                    <div style="min-height: 150px; gap: 8px" id="imagePreviewContainer" class="d-flex mt-3"></div>
                                </div>
                                <div class="modal-footer" style="border-top: none;">
                                    <button type="button" class="btn-footer" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn-footer" style="background-color: #007bff;"
                                            id="publicarBtn">
                                        Publicar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- PUBLICAR NOTICIA -->

                <script src="~/Scripts/Custom/Feed/PublicarNoticia.js"></script>

            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="linha"></div>
            <div class="agradecimento">
                Compartilhe seus momentos!
            </div>
        </div>

        <!-- POSTAGEMS -->

        <div id="feedNoticias">

            <!-- As notícias serão inseridas aqui via JavaScript -->

        </div>

    </div>

    <!--CURTIR NOTICIA FEED-->

    <script src="~/Scripts/Custom/Feed/CurtirNoticiaFeed.js"></script>

    <!--CARREGAR FEED / FORMATA DATA-->

    <script src="~/Scripts/Custom/Feed/CarregarFeed.js"></script>

    <!-- SCROLLBAR PERSONALIZADA -->
    <style>
        /* Estilizando a scrollbar para navegadores baseados em WebKit (Chrome, Edge, Safari) */
        ::-webkit-scrollbar {
            width: 15px; /* Largura da barra de rolagem geral */
            border-radius: 10px;
        }

        ::-webkit-scrollbar-track {
            background: #ffffff; /* Fundo branco (barra externa) */
            border-radius: 10px;
            box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3); /* Sombra apenas no lado direito e inferior */
        }

        ::-webkit-scrollbar-thumb {
            background: #a0a0a0; /* Barra de dentro cinza */
            border-radius: 10px;
            width: 8px; /* Tornando a barra de dentro mais fina */
            margin: auto;
            border: 4px solid #ffffff; /* Criando uma borda branca para dar o efeito de barra dentro da barra */
        }
    </style>

    <!-- MODAL DE COMENTARIOS -->
    <div class="modal fade" id="modalComentarios" tabindex="-1" aria-hidden="true" data-post-id>
        <div class="modal-dialog">
            <div class="modal-content" style="height: 500px;">
                <div class="modal-header">
                    <span style="color: #01cf7d; font-size: 26px;">●</span>
                    <h5 class="modal-title ms-2"
                        style="position: relative; left: -133px; top: 2px;">
                        Comentários
                    </h5>
                    <button type="button" class="close" style="font-size: 25px;"
                            data-bs-dismiss="modal">
                        &#10006;
                    </button>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;" ">
                    <div id="listaComentarios" class="comentarios-container">
                        <p class="text-muted">Carregando comentários...</p>
                    </div>
                </div>
                <br>
                <div style="display: flex; gap: 6px; align-items: center; justify-content: space-around; width: 100%;">
                    <div>
                        <div class="user-profile"></div>
                        <div class="user-avatar" style="width: 27px; height: 27px; margin-right: 0px; margin-top: -2px;"></div>

                    </div>
                    <div class="comentario-box">
                        <textarea id="novoComentarioModal" class="comentario-input"
                                  placeholder="Comente algo aqui..."></textarea>
                    </div>
                    <div class="comentario-boxi">
                        <button class="icon-container" onclick="adicionarComentario(this)" style="border: none; outline: none; padding: 2px; width: 27px; height: 27px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="white">
                                <path d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z"
                                      stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DE COMENTARIOS -->
    <script src="~/Scripts/Custom/Comment/ModalComentarios.js"></script>

    <!--ADICIONAR COMENTARIOS MODAL E FEED-->

    <script src="~/Scripts/Custom/Comment/AdicionarComentario.js"></script>

    <!--CURTIR COMENTARIOS-->

    <script src="~/Scripts/Custom/Comment/CurtirComentarios.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>

    <!-- DRAGANDDROP -->

    <script src="~/Scripts/Custom/PreviewImagens/PreviewImegens.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

